
<h1>Sign In</h1>
<%= form_tag '/signin' do %>
Email: <%= email_field_tag :email, "" %><br>
Password: <%= password_field_tag :password, "" %>
<%= submit_tag "Login" %>

  <% end %>

  <%= button_to 'Login with Github', 'auth/auth0', method: :post %>
